
.mains{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:rgb(247 39 171 / 24%);
    width: 100%;
    height: 200%;
    /* height: 105%; */
    cursor: pointer;
}

.mains .alpha img{
    width: 7rem;
    height: 7rem;
    transform-origin: bottom center;
}
.alpha:hover{
    animation: shake 0.5s linear infinite;
}
@keyframes shake {
    0%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(10deg);
    }
}
.mains p{
    font-size: 2rem;
    color: rgb(58, 3, 129);
    font-weight: bold;
    text-align: left;
}
.alpha{
    background-color: palevioletred;
    /* background-color: rgb(0, 255, 38); */
    margin: 5rem;
    width: 20rem;
    text-align: center;
    padding: 2rem;
    border-radius: 4rem;
    /* box-shadow: 0 0 60px 3px rgb(47, 89, 255), 0 0 100px 6px #f61f1f, 0 0 140px 9px #ff00d4; */
}

.images{
    position: relative;
    float: right;
    margin-top: -7rem;
    animation: shake 2s linear infinite;
}
.game{
    background-color: #9a2af6;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
    height: 1rem;
    align-items: center;
    justify-content: center;
}
.game img{
    width: 8rem;
    height: 8rem;
    margin-top: -3rem;
}
.game button{
    width: 10rem;
    height: 3rem;
    background-color: #f61f1f;
    font-size: 1rem;
    color: white;
    border-radius: 5rem;
    margin-top: -4rem;
    margin-left: 2rem;
    cursor: pointer;
    animation: shake 2s linear infinite;
    box-shadow: 0 0 60px 3px rgb(47, 89, 255), 0 0 50px 6px #f61f1f, 0 0 40px 9px #ff00d4;
}
.game h2{
    margin-top: -3rem;
    font-size: 2rem;
    color:  rgb(58, 3, 129);
}
